#main-panel {
  margin: 15px auto;
  padding: 30px;
  background-color: #fffff0;
}

body {
  background-color: #778899;
  color: #464646;
  font-family: 'Nixie One';
}

#nav-bar * {
  text-transform: uppercase;
}

.navbar {
  background-color: #464646;
}

.navbar.navbar-nav li a {
  color: #fffff0;
}

.section-header {
  text-transform: uppercase;
}

.img {
  margin-top: 15px;
  margin-right: 65px;
}


/* I was having a problem with the header covering
/* the top of each section when you used the nav bar links.
/* This CSS solves that problem and comes from here: https://pixelflips.com/blog/anchor-links-with-a-fixed-header */
.anchor{
  display: block;
  height: 60px; /*same height as header*/
  margin-top: -60px; /*same height as header*/
  visibility: hidden;
}

